.css-acap47-MuiAlert-message {
  padding: 8px 0;
  font-size: 18px;
}

.css-1ytlwq5-MuiAlert-icon {
  align-items: center;
}

.css-149qflf-MuiPaper-root-MuiAlert-root {
  background-color: #ff6b6b!important;
}
